@import '../../styles/settings.scss';
$font-familyRoboto: 'Roboto', sans-serif;

.formWrapper {
    width: 60%;
    margin: 40px auto;
    text-align: center;
}

.formInfo {
    width: 60%;
    padding: 15px;
    display: block;
    margin:  0 auto 20px auto;
    border: none;
    font-family: $font-familyRoboto;
    font-weight: 400;
    font-size: 15px;
}

.buttonForm {
        border: none;
        background: linear-gradient(21deg, #01FF70, #1beabd);
        color: #000;
        padding: 10px 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 17px;
        border-radius: 20px;
        font-family: $font-familyRoboto;
}

.content {
    font-size: 17px;
    font-family: $font-familyRoboto;
    font-weight: 400;
}

@media (max-width: 640px) {
    .formWrapper {
        width: 100%;
    }
}