@import '../../styles/settings.scss';



.wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #000;
    opacity: 0.7;
}

.moneyType {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    border: 2px solid green;
}
.wrapperMoney {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    border: 2px solid green;
    transition: all 0.2s;
}

.wrapperMoney:hover {
    background-color: green;
}

.title {
    font-size: 17px;
    font-weight: bold;
    padding-left: 5px;
}

.price {
    font-size: 17px;
    text-align: left;
}

@media (max-width: 630px) {
    .wrapper {
        width: 90%;
    }
    .title {
        font-size: 15px;
    }
}